.navigator{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    gap: 100px;
}
 nav ul{
  display: flex;
  list-style: none;
  gap: 60px;
  margin-top: 30px;
}
nav img{
  width: 83px;
  height: 42.75px;
  margin-top: 20px; 
  /* /* margin-left: 85px; */
}
nav button{
  width: 75px;
  height: 31px;
  margin-top: 21px;
  /* margin-right: 85px; */
  background-color: red;
  font-size: 18px;
  color: white;
  font-family: sans-serif;
}
h1{
font-size: 90px;
}
p{
    font-size: 25px;
}
 .leftside{
width: 562.2px;
height: 623px;
 }
 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-left: 100px;
 }
 .buttons_leftside{
    display: flex;
    gap: 40px;
 }
 .shopnow{
    height:41px ;
    width: 150px;
     background-color: red;
     font-size: 20px;
}
 .category{
    height:41px ;
    width: 141px;
    font-size: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}
.images{
    display: flex;
    gap: 20px;
}
h2{
  display: flex;
  justify-content: center;
  padding-top: 80px;
  height: 70vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 300px;
  margin-right: 300px;
}
.secondrowshoes{
  display: flex;
}
.firstrowshoes{
  display: flex;
}
h3{
  padding-left: 190px;
}
h4{
  font-size: 70px;
}
input{
  width: 800px;
  height: 40px;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 20px;
}
.contacts{
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
}